<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <!-- Fav icon -->
        <link rel="icon" type="image/png" href="/static/img/GDG_logo.png">
        <!-- css -->
        <link rel="stylesheet" href="/static/css/main.{{ CURRENT_VERSION_ID }}.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="/static/css/normalize.min.css" type="text/css" media="all"/>
        <!-- font -->
        <link href='http://fonts.googleapis.com/css?family=Redressed' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
        <!-- js -->
        <script src="/static/js/lib/json2.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
        <script src="/static/js/main.{{ CURRENT_VERSION_ID }}.js" type="text/javascript"></script>

        <title>{% block title %}Examiner{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <!---<header>
            </header>-->
            <div class="content" role="document">
                <div role="main">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <br/>
            <footer>
                <img src="/static/img/appengine.gif" alt="Powered by Google App Engine" align="left" />
                <img src="/static/img/GDG_Thiruvananthapuram_dark.png" alt="Developed by GDG Thiruvananthapuram" width="400" align="left" />
                <br/>
            </footer>
        </div>
    </body>
</html>
